argh==0.26.2
blinker==1.4
certifi==2018.1.18
chardet==3.0.4
coloredlogs==9.0
dlib==19.9.0
humanfriendly==4.8
idna==2.6
Jinja2==2.10
jsmin==2.2.2
libsass==0.13.6
MarkupSafe==1.0
mistune==0.8.3
pathtools==0.1.2
pkginfo==1.4.1
pyhash==0.8.2
PyYAML==3.12
requests==2.18.4
requests-toolbelt==0.8.0
six==1.11.0
tqdm==4.19.5
twine==1.9.1
urllib3==1.22
